:root {
  --font-family: "Open Sans", sans-serif;
  --font-size: 18px;
  --text-color: white;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  border: none;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.card {
  height: auto;
  width: 928px;
  height: 1124px;
  background: linear-gradient(145deg, #6e79e8, #58dde1);
  border-radius: 50px;
  padding: 20px;
}

.search-container {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

input {
  border-radius: 50px;
  width: 524px;
  height: 54px;
  padding: 5px;
  padding-left: 25px;
  margin-right: 25px;
  color: rgb(100, 100, 100);
}

.search-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.search-button {
  background-color: white;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.search-button svg {
  width: 30px;
  height: 30px;
}

.search-button path {
  fill: rgb(149, 149, 149);
}

.title {
  text-align: center;
  width: 100%;
  font-size: 54px;
}

.temperature-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#weather-status {
  width: 200px;
  height: 200px;
}

.temperature {
  margin: 0;
  font-size: 52px;
}

.location-text {
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 75px;
}

.weather-metrics {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.metric-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.metric-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.weather-metric-img {
  width: 65px;
}

.metric-text {
  font-size: 32px;
  margin: 0;
  font-weight: 700; /* Apply bold weight */
}

.metric-title {
  font-size: 24px;
  margin: 0;
}
