* {
  font-family: "Open Sans";
  font-size: 18px;
  border: none;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.card {
  height: auto;
  width: 928px;
  height: 1124px;
  background: linear-gradient(145deg, #6e79e8, #58dde1);
  border-radius: 50px;
  padding: 20px;
}

.search-container {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 50px;

  width: 524px;
  height: 54px;
  padding: 5px;
  padding-left: 25px;
  margin-right: 25px;
}

.search-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.search-button {
  background-color: white;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.search-button svg {
  width: 30px;
  height: 30px;
}

.search-button path {
  fill: rgb(149, 149, 149);
}

.title {
  text-align: center;
  width: 100%;
  font-size: 54px;
  color: white;
}

.temperature {
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.indicators-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicators {
  margin: 10px 0;
}
